[user]
	name = Volodymyr Sapsai
	email = vsapsai@gmail.com
[alias]
	gdiff = difftool --tool=opendiff --no-prompt
    dag = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %s %C(dim black)- %an%C(reset)'

# Also for global ignore patterns run
# git config --global core.excludesfile ~/.gitignore_global
